<div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

  <a (click)="onClickDetails(item.id)" class="group cursor-pointer" *ngFor="let item of character">
    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
      <img [src]="item.thumbnail.path | imgSuper:item.thumbnail.extension"
        alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
        class="w-full h-full object-center object-cover group-hover:opacity-75">
    </div>
    <h2 class="mt-4 text-white">Name: <b>{{ item.name  }}</b></h2>
    <p class="text-sm text-white">Comics: <b>{{ item.comics.available  }}</b></p>
    <p class="text-sm text-white">Series: <b>{{ item.series.available  }}</b></p>
  </a>

</div>
