<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap" *ngIf="characterResult.length > 0">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" [src]="characterResult[0].thumbnail.path | imgSuper:characterResult[0].thumbnail.extension">

      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-white text-3xl title-font font-medium mb-1">{{ characterResult[0].name }}</h1>
        <p class="leading-relaxed">{{ characterResult[0].description | descrip }}</p>
        <div class="flex mt-6 items-center pt-5 border-t-2 border-gray-800 mb-5">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" (click)="onHome()">Home</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="characterResult.length > 0">
  <app-list-comics [comics]="comicResult" [idCharacter]="characterResult[0].id"></app-list-comics>
  <app-list-series [idCharacter]="characterResult[0].id"></app-list-series>
</div>
