<app-nav-bar-character (SearchLetter)="onRefresh($event)"></app-nav-bar-character>

<div class="bg-gray-800">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex justify-center items-center space-x-2">
      <div class="spinner-grow inline-block w-8 h-8 bg-current rounded-full opacity-0 text-blue-600" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <app-card-character [character]="characterResult"></app-card-character>
  </div>
</div>
