<nav aria-label="Page navigation example" class="bg-gray-800 pb-3 pt-4 pl-2 flex justify-between">
  <ul class="inline-flex items-center">
    <li *ngFor="let letter of letters" class="hover:cursor-pointer">
      <a (click)="idSearchHero.value = ''; onSearch(letter)" [id]="'id_letter_'+letter"
        class="py-2 px-3 leading-tight border border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
        [ngClass]="{ 'rounded-l-lg': letter === 'A', 'rounded-r-lg': letter === 'Z' }">{{ letter }}</a>
    </li>
  </ul>

  <div class="pr-4 w-80">
    <label for="default-search" class="mb-2 text-sm font-medium sr-only text-gray-300">Search</label>
    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </div>
      <input type="search" #idSearchHero
        (keyup.enter)="onSearch(idSearchHero.value)"
        class="block p-4 pl-10 w-full text-sm rounded-lg border focus:ring-blue-500 focus:border-blue-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
        placeholder="Search Hero">
      <button (click)="onSearch(idSearchHero.value)"
        class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
  </div>
</nav>
